.desktop {
  display: none;
}

.burgerMenuOpen ul {
  display: flex;
  flex-direction: column;
  gap: var(--xl-margin);
  padding: var(--xl-margin);
}

.header > nav:nth-child(1) > ul,
.header > nav:nth-child(2) > ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--m-margin);
}

:is(.desktop, .mobile) svg {
  fill: var(--logo-color);
}

.header button svg {
  fill: var(--black);
}

.burgerMenuOpen a > svg {
  margin-right: var(--m-margin);
}

.header li:first-child svg {
  width: 4rem;
}

.title {
  font-size: var(--xl-font);
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu button {
  font-size: var(--s-font);
  text-transform: uppercase;
}

.burgerMenuClose {
  height: 0;
  visibility: hidden;
}

.burgerMenuOpen {
  background-color: var(--white);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  visibility: visible;
  width: 100vw;
}

.burgerMenuOpen a {
  align-items: center;
  display: flex;
}

.burgerMenuTitle {
  display: flex;
  margin-bottom: var(--xl-margin);
}

.burgerMenuTitle span {
  flex-grow: 3;
  font-size: var(--xl-font);
  font-weight: bold;
  text-align: center;
}

@media (min-width: 36em) {
  .desktop {
    display: unset;
  }

  .mobile {
    display: none;
  }

  .header {
    box-shadow: 0 2px 2px 2px var(--shadow);
    margin-bottom: var(--xxl-margin);
  }

  .header nav ul {
    display: flex;
    gap: var(--m-margin);
  }

  .rechercher a {
    color: var(--white);
  }

  .header nav a {
    font-size: var(--l-font);
  }

  .rechercher {
    background-color: var(--button-color);
    border-radius: 2rem;
    font-weight: bold;
    padding: var(--m-margin);
  }
}
