.desktop {
  display: none;
}

.burger-menu-open ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: calc(var(--base-margin) * 2);
}

.header nav:nth-child(1) > ul,
.header nav:nth-child(2) > ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--base-margin);
}

.title {
  font-size: 1.38rem;
  font-weight: 700;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu button {
  font-size: 0.6rem;
  text-transform: uppercase;
}

.burger-menu-close {
  height: 0;
  visibility: hidden;
}

.burger-menu-open {
  background-color: #fff;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  visibility: visible;
  width: 100vw;
}

.burger-menu-open a {
  align-items: center;
  display: flex;
}

.burger-menu-open a > svg {
  margin-right: 1rem;
}

.burger-menu-title {
  display: flex;
  margin-bottom: 2rem;
}

.burger-menu-title span {
  flex-grow: 3;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 36em) {
  .desktop {
    display: inherit;
  }

  .mobile {
    display: none;
  }

  .header {
    box-shadow: 0 2px 2px 2px var(--shadow);
    margin-bottom: 2.5rem;
  }

  .header nav ul {
    display: flex;
    gap: var(--base-margin);
  }

  .header nav a {
    font-size: 1.12rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .rechercher {
    background: var(--button-color);
    border-radius: 2rem;
    font-weight: 700;
    padding: var(--base-margin);
  }
}
