{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "property-disallowed-list": ["margin-block", "margin-inline", "padding-block", "padding-inline"],
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "order/properties-alphabetical-order": true,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
