.main {
  margin: 0 calc(-1 * var(--m-margin));
}

.main button {
  color: var(--primary-color);
  margin-bottom: var(--m-margin);
  padding: 0 var(--m-margin);
}

.main section {
  border-bottom: 1px solid var(--gray);
  margin-bottom: var(--m-margin);
  padding: 0 var(--m-margin) var(--m-margin);
}

.main section:nth-child(4) pre:nth-child(2) {
  margin-bottom: var(--m-margin);
}

.main section:nth-child(6) {
  border-bottom: unset;
  margin-bottom: unset;
  padding-bottom: unset;
}

.main h2 {
  font-weight: bold;
  margin-bottom: var(--m-margin);
}

h2.nom {
  font-size: var(--xl-font);
}

.adresse {
  align-items: center;
  display: flex;
  gap: var(--s-margin);
  justify-content: space-between;
}

.adresse a {
  background-color: var(--primary-background-color);
  border-radius: 2rem;
  color: var(--white);
  font-weight: bold;
  padding: var(--s-margin);
  text-align: center;
  width: 6rem;
}

.main img {
  margin-right: var(--s-margin);
}

.contact a {
  line-height: 1.5;
}

:global(body.themeDark) .main .adresse a {
  background-color: var(--button-color);
}
