.evitement {
  left: -1000px;
  padding: var(--m-margin) 0;
  position: absolute;
}

.evitement:focus-within {
  display: flex;
  position: static;
}

.evitement a {
  margin: var(--m-margin);
  text-align: center;
}
