.main {
  box-shadow: 0 0.4rem 0.4rem var(--shadow);
  display: grid;
  grid-gap: var(--m-margin) 0;
  grid-template:
    "title title title title" auto
    "coordonnees coordonnees coordonnees distance" auto
    "criteresAccessibilite criteresAccessibilite criteresAccessibilite criteresAccessibilite" auto
    "lancerItineraire lancerItineraire plusDInformations plusDInformations" auto
    / 1fr 1fr 1fr 1fr;
  margin-bottom: var(--l-margin);
  margin-inline: calc(-1 * var(--l-margin));
  outline: 1px solid var(--gray);
}

:global(.leaflet-container) .main {
  box-shadow: none;
  column-gap: var(--s-margin);

  /* width d'1 column : (100% - les gaps) / 4 columns */
  grid-template-columns: repeat(4, calc((100% - 3 * var(--s-margin))/4));
  margin: 0;
  outline: none;
}

:global(.leaflet-container) .adresse p {
  margin: 0;
}

:global(.leaflet-container) .main :global(.carteLieu__buttons) {
  border: 1px solid var(--gray);
  padding: var(--m-margin);
}

.main > *:not(a, :global(.distance)) {
  padding-inline: var(--l-margin);
}

:global(.leaflet-container) .main > *:not(a) {
  padding-inline: 0;
}

.main > h2 {
  grid-area: title;
  margin-bottom: 0;
  margin-top: var(--m-margin);
}

.main > address {
  display: flex;
  flex-direction: column;
  grid-area: coordonnees;
}

.main .carteLieu__criteres {
  display: flex;
  flex-direction: row;
  grid-area: criteresAccessibilite;
  justify-content: right;
}

.main .carteLieu__criteres img {
  margin-left: var(--s-margin);
}

.main > address > a {
  margin-bottom: var(--m-margin);
}

.main :global(.distance) {
  grid-area: distance;
}

/* Obligé de préciser a.class pour override un des styles par défaut de leaflet */
.main :global(.carteLieu__buttons) {
  align-items: center;
  border-right: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  color: var(--primary-color);
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-right: -1px;
  padding: var(--l-margin);
  text-align: center;
}

.adresse svg,
.main :global(.distance) svg {
  margin-right: var(--s-margin);
}

.main :global(.carteLieu__buttons):nth-of-type(1) {
  grid-area: lancerItineraire;
}

.main :global(.carteLieu__buttons):nth-of-type(2) {
  grid-area: plusDInformations;
}
