.main {
  background-color: var(--primary-background-color);
  color: var(--white);
  margin: 0 calc(-1 * var(--m-margin));
  padding: var(--m-margin);
}

.main button {
  margin-bottom: var(--xxl-margin);
}

.links svg {
  fill: var(--white);
}

.main a {
  color: var(--white);
  font-size: var(--s-font);
}

.links {
  display: flex;
  justify-content: space-between;
}

.submit {
  text-align: right;
}

.submit button {
  background-color: var(--button-color);
  border-radius: 2rem;
  font-weight: bold;
  margin: var(--m-margin) 0 0;
  padding: var(--m-margin);
}
