.article {
  margin-bottom: var(--xxl-margin);
}

.article header h1 {
  font-size: var(--m-to-l-font);
  margin-bottom: var(--m-margin);
  text-align: left;
}

.article div {
  align-items: center;
  display: flex;
  gap: var(--l-to-xxl-margin);
}
