.leafletMap {
  height: 60vh;
  margin: 0 calc(-1 * var(--m-margin));
  min-height: 25rem;
}

.leafletMap :global(a.leaflet-popup-close-button) {
  margin: 0.5rem;
  text-align: center;
}

.leafletMap :global(a.leaflet-popup-close-button span) {
  font-size: 2rem;
}

:global(body.themeDark) .leafletMap :global(.leaflet-popup-content-wrapper) {
  background-color: var(--default-background-color);
  color: var(--black);
}

:global(body.themeDark) .leafletMap :global(.leaflet-popup-tip) {
  background-color: var(--default-background-color);
}
