.main {
  background-color: var(--primary-background-color);
  color: var(--white);
  margin-inline: calc(-1 * var(--m-margin));
  padding: var(--m-margin);
}

.main a {
  color: var(--white);
  display: block;
  font-size: var(--s-font);
  margin-bottom: var(--xxl-margin);
}

.main a svg {
  margin-right: var(--s-margin);
}
