.footer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}

@media (max-width: 36em) {
  .footer svg {
    display: none;
  }
}

.footer section {
  margin: var(--m-margin) var(--m-margin) 0 var(--m-margin);
}

.footer header {
  font-size: var(--s-to-m-font);
  font-weight: bold;
  margin-bottom: var(--s-to-m-margin);
}

.footer li {
  font-size: var(--xs-to-s-font);
  line-height: 1.5;
}

.footer section a {
  color: unset;
}

.footer p {
  background-color: var(--primary-background-color);
  color: var(--white);
  font-size: var(--xs-to-s-font);
  margin-top: var(--m-to-xl-margin);
  padding-block: var(--m-margin);
  text-align: center;
}

.footer p a {
  color: var(--white);
}

@media (min-width: 36em) {
  .footer {
    padding-top: var(--xl-margin);
  }

  .footer div {
    display: flex;
    gap: 5rem;
    justify-content: center;
  }

  .footer svg {
    fill: var(--logo-color);
    width: 6rem;
  }

  .footer section {
    margin: unset;
  }
}
