.footer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer svg {
  width: 6rem;
}

.footer div svg {
  fill: var(--logo-color);
}

@media (max-width: 36em) {
  .footer svg,
  .footer section:nth-child(1) {
    display: none;
  }
}

.footer section {
  margin: var(--m-margin) var(--m-margin) 0 var(--m-margin);
}

.footer header {
  font-size: var(--m-font);
  font-weight: bold;
  margin-bottom: var(--s-margin);
}

.footer section li {
  line-height: 1.5;
}

.footer section a {
  color: unset;
}

@media (min-width: 36em) {
  .footer {
    padding-top: var(--xl-margin);
  }

  .footer > div:first-child {
    display: flex;
    font-size: var(--s-font);
    gap: 5rem;
    justify-content: center;
  }

  .footer section {
    margin: unset;
  }

  .footer p {
    margin-top: var(--xl-margin);
  }
}

.footer p {
  background-color: var(--primary-background-color);
  color: var(--white);
  margin-top: var(--m-margin);
  padding-block: var(--m-margin);
  text-align: center;
}

.footer p a {
  color: var(--white);
}
