.main {
  border: 1px solid var(--gray);
  display: grid;
  grid-gap: var(--m-margin) 0;
  grid-template:
    "title title title title"
    "coordonnees coordonnees coordonnees distance"
    "criteresAccessibilite criteresAccessibilite criteresAccessibilite criteresAccessibilite"
    "lancerItineraire lancerItineraire plusDInformations plusDInformations"
    / 1fr 1fr 1fr 1fr;
}

:global(.leaflet-container) .main {
  border: none;
  column-gap: var(--s-margin);

  /* width d'1 column : (100% - les gaps) / 4 columns */
  grid-template-columns: repeat(4, calc((100% - 3 * var(--s-margin))/4));
}

:global(.leaflet-container) .adresse p {
  margin: 0;
}

:global(.leaflet-container) .main :global(.carteLieu__buttons) {
  border: 1px solid var(--gray);
  padding: var(--m-margin);
}

.main > *:not(a, p) {
  padding: 0 var(--l-margin);
}

:global(.leaflet-container) .main > *:not(a) {
  padding: 0;
}

.main > .title {
  font-size: var(--xl-font);
  font-weight: bold;
  grid-area: title;
  margin-bottom: 0;
  margin-top: var(--m-margin);
}

.main > address {
  display: flex;
  flex-direction: column;
  grid-area: coordonnees;
}

.main .carteLieu__criteres {
  display: flex;
  flex-flow: row wrap;
  grid-area: criteresAccessibilite;
  row-gap: var(--s-margin);
}

.main .carteLieu__criteres img {
  margin-right: var(--s-margin);
}

.main > address > a {
  margin-bottom: var(--m-margin);
}

/* Obligé de préciser a.class pour override un des styles par défaut de leaflet */
.main :global(.carteLieu__buttons) {
  align-items: center;
  border-right: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  color: var(--primary-color);
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-right: -1px;
  padding: var(--l-margin);
  text-align: center;
}

.main :global(.carteLieu__buttons):nth-of-type(1) {
  grid-area: lancerItineraire;
}

.main :global(.carteLieu__buttons):nth-of-type(2) {
  grid-area: plusDInformations;
}
