.description {
  margin-bottom: 1.5rem;
}

.title {
  margin-bottom: 0.5rem;
}

.recherche {
  align-items: center;
  background: var(--primary-background-color);
  border-radius: 15px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 1.5rem;
}

.recherche img {
  padding-bottom: 1.5rem;
}

@media (min-width: 36em) {
  .title {
    font-size: 1.125rem;
    margin-bottom: 1.75rem;
  }

  .description {
    margin-bottom: 2.5rem;
  }

  .recherche {
    font-size: 1.125rem;
  }
}
