.description {
  margin-bottom: var(--l-margin);
}

.title {
  font-size: var(--m-font);
  margin-bottom: var(--s-margin);
}

.recherche {
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: 15px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: var(--m-margin);
  padding: var(--l-margin) 5.5rem;
  text-align: center;
}

.recherche svg {
  fill: var(--white);
  padding-bottom: var(--l-margin);
}

.criteres {
  align-items: center;
  display: flex;
  font-size: var(--s-font);
  margin-bottom: var(--l-margin);
}

.criteres svg {
  margin-right: var(--s-margin);
}

.a-propos {
  background: var(--secondary-color);
  margin: 0 calc(-1 * var(--m-margin)) var(--l-margin) calc(-1 * var(--m-margin));
  padding: var(--m-margin);
}

.retrouvez-infos {
  font-weight: bold;
}

.addresse {
  font-size: var(--s-font);
  font-style: normal;
  margin-bottom: var(--l-margin);
}

.reseaux-sociaux {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: var(--xl-margin);
}

.reseaux-sociaux svg {
  width: 2rem;
}

@media (min-width: 36em) {
  .title {
    font-size: var(--l-font);
    margin-bottom: var(--xl-margin);
  }

  .description {
    margin-bottom: var(--xxl-margin);
  }

  .description:nth-child(1) {
    margin-bottom: var(--m-margin);
  }

  .recherche,
  .adresse {
    font-size: var(--l-font);
    margin-bottom: var(--xl-margin);
  }

  .criteres {
    font-size: var(--m-font);
    margin-bottom: var(--xxl-margin);
    margin-left: var(--m-margin);
  }

  .a-propos {
    margin-bottom: var(--xxl-margin);
  }

  .reseaux-sociaux svg {
    height: var(--xxl-margin);
    width: var(--xxl-margin);
  }
}
