.title {
  font-size: var(--m-to-l-font);
  margin-bottom: var(--s-to-xl-margin);
}

.description {
  margin-bottom: var(--l-to-xxl-margin);
}

.recherche {
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: 15px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: var(--m-to-l-font);
  font-weight: bold;
  margin-bottom: var(--l-to-xxl-margin);
  padding: var(--l-margin) 5rem;
  text-align: center;
}

.recherche svg {
  fill: var(--white);
  padding-bottom: var(--l-margin);
}

.criteres {
  align-items: center;
  display: flex;
  margin-bottom: var(--l-to-xxl-margin);
}

.criteres svg {
  margin-right: var(--s-margin);
}

.aPropos {
  background: var(--secondary-color);
  margin:
    0
    calc(-1 * var(--m-margin))
    var(--l-to-xxl-margin)
    calc(-1 * var(--m-margin));
  padding: var(--m-margin);
}

.retrouvezInfos {
  font-weight: bold;
}

.adresse {
  margin-bottom: var(--l-to-xxl-margin);
}

.reseauxSociaux {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: var(--l-to-xxl-margin);
}

.reseauxSociaux svg {
  width: clamp(2rem, 2vw + 1rem, 2.5rem);
}

@media (min-width: 36em) {
  .criteres {
    margin-left: var(--m-margin);
  }
}
