:root {
  --primary-background-color:
    linear-gradient(0deg, rgb(10 20 106 / 20%), rgb(10 20 106 / 20%)),
    linear-gradient(0deg, rgb(0 0 0 / 20%), rgb(0 0 0 / 20%)),
    #343d83;
  --primary-color: #343d83;
  --secondary-color: #cedcff;
  --button-color:
    linear-gradient(0deg, #f55454, #f55454),
    linear-gradient(0deg, #d0054a, #d0054a),
    linear-gradient(0deg, #ff5f00, #ff5f00),
    #ffe4d0;
  --white: #fff;
  --shadow: rgb(189 189 189 / 25%);
  --base-font: 1rem;
  --base-margin: 1rem;
}

html {
  font-family: arial, sans-serif;
  font-size: var(--base-font);
  line-height: 1.15;
  text-size-adjust: 100%;
}

body,
main,
ul,
p,
h2 {
  margin: 0;
  padding: 0;
}

main {
  padding: 0 var(--base-margin);
}

ul {
  list-style-type: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 0.875rem;
}

@media (min-width: 36em) {
  main {
    margin: 0 auto;
    padding: 0;
    width: 38rem;
  }

  p {
    font-size: initial;
  }
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: auto;
}
