:root {
  --default-background-color: #fff;
  --primary-background-color: #222a68;
  --primary-color: #343d83;
  --secondary-color: #cedcff;
  --button-color: #8d0d20;
  --logo-color: #8d0d20;
  --white: #fff;
  --black: #000;
  --gray: #ccc;
  --gray-dark: #3d3d3d;
  --shadow: rgb(189 189 189 / 25%);
  --xl-font: 1.4rem;
  --l-font: 1.125rem;
  --m-font: 1rem;
  --s-font: 0.875rem;
  --xs-font: 0.75rem;
  --m-to-l-font: clamp(var(--m-font), 2vw + 0.25rem, var(--l-font));
  --s-to-m-font: clamp(var(--s-font), 2vw + 0.1rem, var(--m-font));
  --xs-to-s-font: clamp(var(--xs-font), 2vw, var(--s-font));
  --xxl-margin: 2.5rem;
  --xl-margin: 2rem;
  --l-margin: 1.5rem;
  --m-margin: 1rem;
  --s-margin: 0.5rem;
  --l-to-xxl-margin: clamp(var(--l-margin), 2vw + 1rem, var(--xxl-margin));
  --m-to-xl-margin: clamp(var(--m-margin), 2vw, var(--xl-margin));
  --s-to-xl-margin: clamp(var(--s-margin), 2vw, var(--xl-margin));
  --s-to-m-margin: clamp(var(--s-margin), 2vw, var(--m-margin));
}

body.themeDark {
  --primary-background-color: #000;
  --default-background-color: #000;
  --primary-color: #fff;
  --secondary-color: #3d3d3d;
  --button-color: #8d0d20;
  --logo-color: #8d0d20;
  --black: #fff;
  --gray: #ccc;
  --gray-dark: #3d3d3d;
  --shadow: rgb(189 189 189 / 25%);

  background-color: var(--default-background-color);
}

html {
  font-family: arial, sans-serif;
  font-size: var(--m-font);
  line-height: 1.15;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body,
main,
ul,
p,
h2 {
  margin: 0;
  padding: 0;
}

/* Neeeded to avoid flash on first render with dark mode */
body:not(.themeDark, .themeLight) {
  display: none;
}

main {
  color: var(--black);
  flex-grow: 3;
  padding-inline: var(--m-margin);
}

ul {
  list-style-type: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: var(--s-to-m-font);
}

@media (min-width: 36em) {
  main {
    margin: 0 auto;
    width: 38rem;
  }
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: auto;
}

button:disabled {
  cursor: not-allowed;
}

svg {
  fill: var(--primary-color);
}

address {
  font-size: var(--s-to-m-font);
  font-style: normal;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
