.main {
  background-color: var(--primary-background-color);
  color: var(--white);
  margin: 0 calc(-1 * var(--m-margin));
  padding: var(--m-margin);
}

.main > a:first-child {
  color: var(--white);
  display: block;
  font-size: var(--s-font);
  margin-bottom: var(--xxl-margin);
}

.button {
  border-radius: 5rem;
  box-sizing: border-box;
  color: var(--primary-color);
  display: block;
  font-weight: bold;
  margin-bottom: var(--xxl-margin);
  padding: var(--m-margin);
  text-align: center;
  width: 100%;
}

.positionActuelle {
  background-color: var(--secondary-color);
}

.main p {
  margin-bottom: var(--s-margin);
}

.ou {
  margin-bottom: var(--xxl-margin);
  text-align: center;
}

.renseignerAdresse {
  background-color: var(--white);
  color: var(--primary-background-color);
}
